<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp</title>
    <style>
      .redbutton {
        border: 2px solid red;
        background-color: white;
        border-radius: 8px;
        color: red;
        padding: 7px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 3px 2px;
        cursor: pointer;
      }
      .bluebutton {
        border: 2px solid blue;
        background-color: white;
        color: blue;
      }
      .redbutton:hover {
        background-color: rgb(255, 100, 100);
        color: white;
      }
      .bluebutton:hover {
        background-color: rgb(115, 100, 255);
        color: white;
      }
    </style>
  </head>

  <body>
    <%- include('partials/_header') %> <% if (user_id) { %>
    <main style="margin: 1em">
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for(let url in urls) { %> <% if (user_id === urls[url].user_id) {
          %>
          <tr>
            <td><a href="/u/<%= url %>"><%= url %></a></td>
            <td><%= urls[url].longURL %></td>
            <td>
              <form method="POST" action="/urls/<%= url %>/edit">
                <button class="redbutton bluebutton">Edit</button>
              </form>
            </td>
            <td>
              <form method="POST" action="/urls/<%= url %>/delete">
                <button class="redbutton">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
      <% } else { %>
      <h1>Must login first before accessing URLs</h1>
    </main>
    <% } %>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
